/* STYLE FOR PERSONAL PROJECT */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    line-height:2em;
    display:block;
}

body, html {
    height: 100%;
}

.main {
    position: absolute;
    z-index: 1000;
    top: 0%;
    left: 1%;
    margin: 0;
    width: 100%;
}

.erika {
    position: absolute;
    color: white;
    font-size: 170px;
    line-height: .8em;
}

.neon {
    color:rgb(208, 239, 133);
    z-index:5;
}

.parallax {
    /* The image used */
    background-image: url("images/me_and telescope.JPG");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    /* Box settings */
    overflow: hidden;
    display: inline-block;
    margin: 0;
    z-index:3;
}

/* CIRCLE SPOTLIGHT */
.parallax::before {
    z-index: 1;
    content: "";
    display: block;
    /* Scale */
    width: 960px;
    padding-bottom: 960px;
    /* Position */
    position: absolute;
    top: 69%;
    left: 60%;
    transform: translate(-50%, -50%);
    /* Border */
    border: solid 500px rgba(0, 0, 0, 0.6);
    border-radius: 60%;
    margin:0;
}

.parallax.blur::before { /* NOT WORKING */
    filter: blur(50px);
}


/* external css: flickity.css */
.gallery {

}

.gallery-cell {
  width: 33%;
  margin-right: 10px;
  color: white;
}

.gallery-cell_2 {
    background: rgba(0, 0, 0, 0.82);
    width: 33%;
    margin-right: 10px;
    color: white;
    padding:2.5%
}

.carol_title {
    /* background: rgba(0, 0, 0, 0.6); */
    line-height: 1em;
    margin: 0;
    padding: 4%;
    padding-bottom: 1%;
}

.carol_title_2 {
    line-height: 1em;
    margin: 0;
    padding-bottom: 1%;
    padding-top:4%
}

.des {
    /* background: rgba(0, 0, 0, 0.6); */
    margin: 0;
    line-height: 1em;
    font-size: 20px;
    padding: 4%;
    padding-top: 0;
}

.des_2 {
    margin: 0;
    line-height: 1em;
    font-size: 20px;
    padding-top: 0;
}

.parallax_2 {
    margin-top: -10px;
    padding: 4%;
    padding-right:0%;
    /* The image used */
    background-image: url("images/starry_wall.JPG");
    /* Full height */
    height: 120%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    /* filter: brightness(120%); */
}

art_title {
    float:right;

}

.wall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    position: relative;
}

.rectangle {
    height: 20%;
    background-color: rgba(255, 255, 255, .2);
    text-align:center;
    font-size:40px;
    padding-top:5%;
}

.rectangle:hover{
    background-color: rgba(255, 255, 255, .5);
}

.wall_pic img {
    width: 100%;
}

.wall_pic {
    grid-column: 1 / span 20;
    grid-row: 1; /* make this image be on the same row */
}

.acrylic {
    grid-row: 1 / span 1; /*  must be on the same row as the other image  */
    grid-column: 1 / span 11;
    padding: 5%; /* this pushes the image down, and keeps it proportional as it resizes  */
    z-index: 1; /* make this image render on top of the bottom */
}

.container {
    overflow: hidden;
}